.main {
  width: min(90vw, 1000px);

  margin: auto;
  padding-block-start: 1.5rem;
}

.name {
  text-decoration: none;
}

.header {
  padding-inline: 0.5rem;
}

.header,
.currentTime {
  text-align: center;
}

.currentTime {
  font-size: larger;

  margin-block: 1.5rem;
}

.table {
  width: 100%;

  border-collapse: collapse;
  text-align: center;
}

tbody tr:nth-child(2n + 1) {
  background-color: #333;
}

thead {
  background-color: black;
}

td,
th {
  height: 3rem;
}

th:first-child {
  border-top-left-radius: 12px;
}

th:last-child {
  border-top-right-radius: 12px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.opened {
  color: var(--color-open);
}

.closed,
.warning {
  color: var(--color-closed);
}

.closed {
  text-decoration: line-through;
}

.time {
  color: #aaa;
}

@media (max-width: 480px) {
  .table {
    font-size: 0.8rem;
  }
}
